@model IEnumerable<MongoTwitterApp.Models.UserStatistics>

@{
    ViewBag.Title = "GetLastMonthStatistics";
}

<h2>GetLastMonthStatistics</h2>

@{
    var actionState = ViewBag.ActionState;
}

<h2>GetAllStatistics</h2>

@if (actionState != null)
{
    <div>
        @if (actionState.Result != "")
        {
            <h3 style="color: red;">@actionState.Result</h3>
        }
       

    </div>
}   

@Html.ActionLink("Home", "Index", "Home")

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
    </tr>
}

</table>
